*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

input,
button {
  font: inherit;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-x: hidden;
  height: -webkit-fill-available;
}

body {
  background-color: #fcfcfc;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}
body .content {
  padding-right: 15vw;
  padding-left: 15vw;
  align-self: center;
  width: 100%;
}
@media (max-width: 768px) {
  body .content {
    padding-right: 7vw;
    padding-left: 7vw;
  }
}
body .content.head {
  box-shadow: 0 4px 56px rgba(0, 0, 0, 0.12);
}
@media (max-width: 768px) {
  body .content.head {
    box-shadow: -1px -20px 56px 0px rgba(0, 0, 0, 0.12);
  }
}
body .content .header {
  display: flex;
  padding-top: 27px;
  padding-bottom: 27px;
  justify-content: space-between;
}
@media (max-width: 768px) {
  body .content .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
body .content .header .logo {
  display: flex;
  margin-right: 10vw;
  background: center/contain no-repeat url("../assets/img/logo.png");
  max-width: 200px;
  height: 80px;
  width: 100%;
  z-index: 101;
}
@media (max-width: 768px) {
  body .content .header .logo {
    margin-right: 0;
    height: 60px;
  }
}
body .content .header .contacts {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  body .content .header .contacts {
    display: none;
  }
}
body .content .header .contacts .email {
  margin-right: 3.6vw;
}
body .content .header .contacts .email img {
  margin-right: 12px;
}
body .content .header .contacts .location {
  margin-right: 3.6vw;
}
body .content .header .contacts .location img {
  margin-right: 12px;
}
body .content .header .contacts .phone img {
  margin-right: 12px;
}
body .content .header .btn-menu {
  display: none;
  z-index: 101;
}
body .content .header .btn-menu img.close {
  display: none;
}
body .content .header .btn-menu.open img.close {
  display: block;
}
body .content .header .btn-menu.open img.open {
  display: none;
}
@media (max-width: 768px) {
  body .content .header .btn-menu {
    display: flex;
  }
}
body .content .header .mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  font-size: 20px;
  line-height: 44px;
  background-color: #e0d5cb;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  padding-top: 150px;
}
body .content .header .mobile-menu.open {
  display: flex;
}
body .line {
  border-bottom: 1px solid #7E868E;
}
@media (max-width: 768px) {
  body .line {
    display: none;
  }
}
body .content .first-page {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 56px rgba(0, 0, 0, 0.12);
  padding: 30px 30px 0 30px;
  margin-bottom: 70px;
}
@media (max-width: 768px) {
  body .content .first-page {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 40px;
  }
}
body .content .first-page .right-block {
  max-width: 568px;
  margin-right: 70px;
  flex: 1 1 50%;
}
@media (max-width: 768px) {
  body .content .first-page .right-block {
    margin-right: 0;
    display: flex;
    flex-direction: column;
  }
}
body .content .first-page .right-block .overhead-block {
  background-color: #F2F6FA;
  width: 40%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
body .content .first-page .right-block .overhead-block .overhead {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
body .content .first-page .right-block .heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  body .content .first-page .right-block .heading {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 40px;
  }
}
body .content .first-page .right-block .subtitle {
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
}
@media (max-width: 768px) {
  body .content .first-page .right-block .subtitle {
    font-size: 19px;
    text-align: center;
  }
}
body .content .first-page .right-block .button {
  margin-top: 40px;
  max-width: 307px;
  width: 100%;
  height: 88px;
  background-color: #384661;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  align-self: center;
  border: none;
}
@media (max-width: 768px) {
  body .content .first-page .right-block .button {
    align-self: center;
  }
}
body .content .first-page .left-block {
  max-width: 500px;
  width: 100%;
  max-height: 615px;
  flex: 1 1 50%;
}
body .content .first-page .left-block .photo {
  height: 100%;
  width: 100%;
  background: center/contain no-repeat url("../assets/img/item-2/2.png");
}
body .content .block {
  display: flex;
  margin-bottom: 30px;
  margin-right: 5wv;
}
@media (max-width: 768px) {
  body .content .block {
    flex-direction: column;
    margin-bottom: 25px;
  }
}
body .content .block .characteristic {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 650px;
}
body .content .block .characteristic .page-number {
  color: #b69a82;
  opacity: 0.4;
  font-weight: 500;
  font-size: 120px;
  position: absolute;
  left: 6px;
  top: -60px;
}
@media (max-width: 768px) {
  body .content .block .characteristic .page-number {
    font-size: 80px;
    top: -33px;
  }
}
body .content .block .characteristic .characteristic-head {
  max-width: 400px;
  font-size: 30px;
  z-index: 1;
  font-weight: 500;
  padding-left: 30px;
}
@media (max-width: 768px) {
  body .content .block .characteristic .characteristic-head {
    font-size: 25px;
  }
}
body .content .block .characteristic .desc {
  margin-top: 24px;
  font-size: 18px;
  z-index: 1;
  padding-left: 30px;
}
@media (max-width: 768px) {
  body .content .block .characteristic .desc {
    margin-bottom: 25px;
    font-size: 15px;
    margin-top: 20px;
  }
}
body .content.items {
  background-color: #e0d5cb;
  margin-top: 30px;
  margin-top: 0;
}
body .content .header-products {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #fcfcfc;
}
@media (max-width: 768px) {
  body .content .header-products {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
body .content .products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 768px) {
  body .content .products {
    flex-direction: column;
  }
}
body .content .products .product-item {
  box-shadow: 0 4px 56px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  margin-bottom: 65px;
  max-width: 500px;
  flex: 1 1 50%;
}
body .content .products .product-item:not(:last-child) {
  margin-right: 50px;
}
@media (max-width: 768px) {
  body .content .products .product-item:not(:last-child) {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  body .content .products .product-item {
    margin-bottom: 30px;
  }
}
body .content .products .product-item__header {
  max-width: 503px;
  height: 450px;
  width: 100%;
  background-color: #fcfcfc;
}
body .content .products .product-item__body {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  color: #030303;
  background-color: #fcfcfc;
}
@media (max-width: 768px) {
  body .content .products .product-item__body {
    padding-left: 15px;
    padding-right: 15px;
  }
}
body .content .products .product-item__body .product-heading {
  margin-top: 45px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 24px;
}
@media (max-width: 768px) {
  body .content .products .product-item__body .product-heading {
    margin-top: 15px;
    text-align: center;
  }
}
body .content .products .product-item__body .product-details {
  margin-top: auto;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  body .content .products .product-item__body .product-details {
    margin-bottom: 15px;
    text-align: center;
  }
}
body .content .products .product-item__body .product-price {
  font-weight: 500px;
  font-size: 24px;
  margin-bottom: 14px;
}
@media (max-width: 768px) {
  body .content .products .product-item__body .product-price {
    align-self: center;
  }
}
body .content .products .product-item__body .button-products {
  text-decoration: none;
  width: 189px;
  height: 68px;
  background-color: #384661;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 18px;
  color: #fcfcfc;
}
@media (max-width: 768px) {
  body .content .products .product-item__body .button-products {
    align-self: center;
    margin-bottom: 15px;
  }
}
body .content.feedback {
  margin-top: 25px;
}
body .content .form {
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 20px;
  box-shadow: 3px -7px 20px 3px rgba(0, 0, 0, 0.12);
}
@media (max-width: 768px) {
  body .content .form {
    margin-top: 0;
  }
}
body .content .form .form-heading {
  margin-top: 60px;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 12px;
  text-align: center;
}
@media (max-width: 768px) {
  body .content .form .form-heading {
    margin-top: 20px;
  }
}
body .content .form .form-subtitle {
  font-weight: 400;
  font-size: 21px;
  margin-bottom: 36px;
  text-align: center;
}
body .content .form .form-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 70px;
}
@media (max-width: 768px) {
  body .content .form .form-body {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
}
body .content .form .form-body .custom-input {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-right: 20px;
}
@media (max-width: 768px) {
  body .content .form .form-body .custom-input {
    margin-bottom: 15px;
    margin-right: 0;
  }
}
body .content .form .form-body .custom-input:before {
  content: "";
  position: absolute;
  top: 30px;
  left: 15px;
  margin: auto 0;
  width: 25px;
  height: 25px;
  background: url("../assets/img/phone.svg") no-repeat;
  background-size: cover;
}
body .content .form .form-body .custom-input.email::before {
  background: center/cover no-repeat url("../assets/img/email.svg");
  height: 20px;
}
body .content .form .form-body .custom-input input {
  width: 100%;
  height: 85px;
  padding-left: 50px;
  border: 0;
  background-color: #F2F6FA;
  border-radius: 8px;
}
body .content .form .form-body .form-button {
  border-radius: 8px;
  background-color: #384661;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  width: 100%;
  height: 86px;
  border: none;
}
body .content .form .form-body .form-button .button-text {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}
body .content .item-page {
  display: flex;
  margin-top: 90px;
}
@media (max-width: 768px) {
  body .content .item-page {
    flex-direction: column-reverse;
    margin-top: 0;
  }
}
body .content .item-page .left-content {
  margin-right: 100px;
  width: 50%;
  max-height: 615px;
}
@media (max-width: 768px) {
  body .content .item-page .left-content {
    margin-right: 0;
    margin-top: 0px;
    height: 300px;
    width: 100%;
  }
}
body .content .item-page .left-content img {
  width: 100%;
}
body .content .item-page .right-content {
  width: calc(50% - 5vw);
}
@media (max-width: 768px) {
  body .content .item-page .right-content {
    width: 100%;
  }
}
body .content .item-page .right-content .overhead-block {
  background-color: #F2F6FA;
  width: 70%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 20px;
  margin-bottom: 15px;
}
body .content .item-page .right-content .overhead-block .overhead {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
body .content .item-page .right-content .heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  body .content .item-page .right-content .heading {
    word-break: break-word;
    font-size: 40px;
    line-height: 40px;
  }
}
body .content .item-page .right-content .subtitle {
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  body .content .item-page .right-content .subtitle {
    font-size: 19px;
    line-height: 30px;
  }
}
body .content .item-page .right-content .list {
  color: #e0d5cb;
  font-weight: 700;
  font-size: 30px;
  display: flex;
  margin-bottom: 40px;
}
body .content .item-page .right-content .list .numbers {
  width: 50%;
}
body .content .item-page .right-content .list .numbers p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #384661;
  margin-top: 5px;
  padding-right: 50px;
}
body .content .item-header {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  body .content .item-header {
    margin: 30px 0 30px 0;
    margin-font-size: 38px;
  }
}
body .content .items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  body .content .items {
    display: none;
  }
}
body .content .items .item-card {
  width: 30%;
  box-shadow: 0px 20px 56px 3px rgba(0, 0, 0, 0.12);
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
body .content .items .item-card p {
  margin-top: 24px;
  text-align: center;
}
body .content .items .item-card.active {
  border: 3px solid #384661;
}
body .content .select-wrapper {
  display: none;
}
@media (max-width: 768px) {
  body .content .select-wrapper {
    display: block;
    margin-bottom: 25px;
  }
}
body .content .item-description {
  line-height: 30px;
  padding: 25px;
  margin-bottom: 45px;
  display: none;
  justify-content: center;
  text-align: justify;
}
@media (max-width: 768px) {
  body .content .item-description {
    padding: 0;
  }
}
body .content .item-description.images {
  padding: 0;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  body .content .item-description.images {
    flex-direction: column;
  }
}
body .content .item-description.images img {
  border: 1px solid #E2EAF2;
  max-height: 350px;
}
@media (max-width: 768px) {
  body .content .item-description.images img {
    width: 100%;
    max-height: none;
  }
}
body .content .item-description.active {
  display: flex;
}
body .content .item-description table {
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: 0px 20px 56px 3px rgba(0, 0, 0, 0.12);
}
body .content .item-description table td {
  border: 1px solid #E2EAF2;
  padding: 8px 16px;
}
body .content .item-description table td:last-child {
  font-weight: 500;
}
body .content .video {
  height: 650px;
}
@media (max-width: 768px) {
  body .content .video {
    height: 250px;
    margin-bottom: 25px;
  }
}
body .content .video iframe {
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .slide-1 {
  background: center/contain no-repeat url("../assets/img/item-1/1.png");
}
.swiper .slide-2 {
  background: center/contain no-repeat url("../assets/img/item-1/2.png");
}
.swiper .slide-3 {
  background: center/contain no-repeat url("../assets/img/item-1/3.png");
}
.swiper .slide-21 {
  background: center/contain no-repeat url("../assets/img/item-2/1.png");
}
.swiper .slide-22 {
  background: center/contain no-repeat url("../assets/img/item-2/2.png");
}
.swiper .slide-23 {
  background: center/contain no-repeat url("../assets/img/item-2/3.png");
}
.swiper .slide-24 {
  background: center/contain no-repeat url("../assets/img/item-2/4.png");
}
.swiper .slide-25 {
  background: center/contain no-repeat url("../assets/img/item-2/5.png");
}
.swiper .slide-26 {
  background: center/contain no-repeat url("../assets/img/item-2/6.png");
}
.swiper .slide-27 {
  background: center/contain no-repeat url("../assets/img/item-2/7.png");
}
.swiper .slide-28 {
  background: center/contain no-repeat url("../assets/img/item-2/8.png");
}

.select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}
.select-wrapper .select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: #384661;
}
.select-wrapper .select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  font-size: 20px;
  font-weight: 300;
  color: #384661;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
  cursor: pointer;
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: #384661;
}
.select-wrapper .arrow {
  position: relative;
  height: 15px;
  width: 15px;
}
.select-wrapper .arrow::before, .select-wrapper .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.select-wrapper .arrow::before {
  left: -5px;
  transform: rotate(-45deg);
  background-color: #394a6d;
}
.select-wrapper .arrow::after {
  left: 5px;
  transform: rotate(45deg);
  background-color: #394a6d;
}
.select-wrapper .open .arrow::before {
  left: -5px;
  transform: rotate(45deg);
}
.select-wrapper .open .arrow::after {
  left: 5px;
  transform: rotate(-45deg);
}
.select-wrapper .custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 2px solid #394a6d;
  border-top: 0;
  background: #fff;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}
.select-wrapper .select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.select-wrapper .custom-option {
  position: relative;
  display: block;
  padding: 0 22px 0 22px;
  font-size: 22px;
  font-weight: 300;
  color: #3b3b3b;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.5s;
}
.select-wrapper .custom-option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}
.select-wrapper .custom-option.selected {
  color: #ffffff;
  background-color: #305c91;
}

/*# sourceMappingURL=index.css.map */
